<template>
  <div>
    <form v-on:submit="fetchpost">
      <div>
        <label class="texto">Nombre:</label>
        <input type="text" v-model="name" />
      </div>
      <br />
      <br />
      <div>
        <label class="texto">Gmail:</label>
        <input type="email" v-model="email" />
      </div>
      <br />
      <br />
      <div>
        <label class="texto">Grupo:</label>
        <input type="text" v-model="group" />
      </div>
      <br /><br />
      <input type="submit" value="Enviar datos" class="submit-button" />
    </form>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import { useStore } from '../stores/User'
// import type { IUser } from '@/interface/IUser';

const store = useStore()

const name = ref('')
const email = ref('')
const group = ref('')

async function fetchpost(event: any) {
  event.preventDefault()

  await store.postAlumno(name.value, email.value, group.value)
  alert('Bienvenido ' + name.value + ', ya fue registrado correctamente')
}
</script>
<style scoped>
.form-container {
  border: 3px solid #000;
  border-radius: 40px;
  padding: 20px;
  color: #000;
}

input[type="text"], input[type="email"] {
  border-radius: 5px;
}

.submit-button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff1493;
}
.texto {
  color: #000;
}
</style>
