<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Grupo</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="alumno in alumnoss" :key="alumno.id">
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.name }}</td>
          <td>{{ alumno.email }}</td>
          <td>{{ alumno.group }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
import type { IUser } from '@/interface/IUser'
import { useStore } from '@/stores/User'
import { ref, onMounted } from 'vue'
import { useRoute } from 'vue-router';

const AlumStore = useStore()
const alumnoss = ref<IUser[]>([])

onMounted(async () => {
  const ruta = useRoute()
  const id = Number(ruta.params.id) 
  await AlumStore.VerAlumno(id) 
  alumnoss.value = [AlumStore.alumno]
})
</script>

<style></style>
