<template>
  <div >
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Grupo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="personas">
        <tr v-for="alumno in alumnos" :key="alumno.id">
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.name }}</td>
          <td>{{ alumno.email }}</td>
          <td>{{ alumno.group }}</td>
          <td>
            <button @click="deleteAlumno(alumno.id)">Eliminar</button>
          </td>
          <td>
            <RouterLink :to="{name: 'aview', params: {id: alumno.id}}"><button>Ver Usuario</button></RouterLink>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
import type { IUser } from '@/interface/IUser'
import { useStore } from '@/stores/User'
import { ref, onMounted } from 'vue'
import { RouterLink } from 'vue-router'

const alumnoStore = useStore()
const alumnos = ref<IUser[]>([])

onMounted(async () => {
  await alumnoStore.getAlumnos()
  alumnos.value = alumnoStore.alumnos
})

async function deleteAlumno(id: number) {
  await alumnoStore.deleteAlumno(id)
  alumnos.value = alumnoStore.alumnos
}
</script>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 100px
}

th, td {
  border: 1px solid #9b005d;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f57de1;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #ff67a1; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #ef6dbb;
}
.personas {
  color: black;
}
</style>
