<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <div class="wrapper">
      <nav>
        <RouterLink class="nav-button" to="/vista">Vista</RouterLink>
        <RouterLink class="nav-button" to="/create">Login</RouterLink>
      </nav>
    </div>
  </header>

  <RouterView />
</template>

<style scoped>
header {
  line-height: 1.5;
  border-bottom: 1px solid #4a004a; 
  position: fixed; 
  top: 0; 
  width: 20%; 
  z-index: 1000; 
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px; 
}


.nav-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 16px;
  color: #000000;
  background-color: #f174da;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.nav-button:hover {
  background-color: #c557bc;
}
main {
  margin-top: 60px; 
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
</style>


